html, body {
    margin: 0;
    padding: 0;
    background-color: gray;
}
.data{
    margin-top:8px; 
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.color-picker{
    display: block;
    width: 80px;
    height: 50px;
    margin-left: 10px;
}
#mode{
    border: 1px solid gray;
    border-radius: 5px;
    background-color: blanchedalmond;
    width: 500px;
}
button{
    font-size: 13px;
    display: block;
    background-color: blanchedalmond;
    border: 1px solid gray;
    border-radius: 5px;
}
.colors{
    margin-top: 4px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    width: 100vw;
}
.color1,.color2,.color3,.color4,.color5{
    height: 80vh;
    width: 150px;
}
.color1{
    background-color: #F55A5A;
}
.color2{
    background-color: #2B2B3A;
}
.color3{
    background-color: #F3FBAB;
}
.color4{
    background-color: #AAB1D6;
}
.color5{
    background-color:#A626D3;
}

.hex-values {
    margin-top :0px;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #D5D4D8;
    gap:110px;
    justify-content: center;
}

